workflows/Bkc2Y2VNywjsmGgD.json
{
  "active": false,
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get ALL Files from Blob Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File Already Exists in Qdrant": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ALL Files from Blob Storage": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File by URL": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get ALL Files from Blob Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get File by URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check if File Already Exists in Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get ALL Files from Blob Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-19T12:33:41.125Z",
  "id": "Bkc2Y2VNywjsmGgD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Azure Blob to Qdrant Automation",
  "nodes": [
    {
      "parameters": {
        "chunkSize": 5000,
        "chunkOverlap": 500,
        "options": {}
      },
      "id": "a72c9d20-70a9-4c04-9314-b5e998d1ca8d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        400,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name",
                "value": "={{ $('Split Out').item.json.Name }}"
              },
              {
                "name": "file_url",
                "value": "={{ $('Split Out').item.json.Url }}"
              }
            ]
          }
        }
      },
      "id": "8f062214-5fbd-4b17-a837-73b294d5d5ed",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        460,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=replace_this_name",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        420,
        0
      ],
      "id": "a4a9bfba-2340-4782-9719-1beecab3df39",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "WbRrEE5oRKvtGrpw",
          "name": "Sporo Health Internal Qdrant 6334"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2000,
        220
      ],
      "id": "d7b79cb2-ca4a-4705-a57f-9ca313b8ed8f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -1460,
        220
      ],
      "id": "9b1655a0-7beb-49d4-aa85-ece78c6c2420",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "EnumerationResults.Blobs.Blob",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1240,
        220
      ],
      "id": "e617edb8-c32e-4540-bdfc-df76884f9c54",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1020,
        220
      ],
      "id": "d1e5e441-dd3c-468b-9529-6fe7c7b7f060",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/sapaiconsultant_sourcefiles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        680
      ],
      "id": "63b29799-2c91-40df-9425-6e0e2671efde",
      "name": "Create Collection in Qdrant1"
    },
    {
      "parameters": {
        "model": "embeddings",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        280,
        240
      ],
      "id": "5949ed40-5bc9-4061-b098-cb110b0f56bc",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "inBBE5tDsOPs9Vzo",
          "name": "Instance GenAI Whisper Backup Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fd7569f-832d-4770-9dde-813bdaa36df0",
              "leftValue": "={{ $json.result.points }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        360
      ],
      "id": "68fc7611-2939-459f-86c6-c2c46a28fd3e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/eerlybrain_sapaiconsultant/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.source\",\n        \"match\": {\n          \"value\": \"blob\"\n        }\n      }\n    ]\n  },\n  \"limit\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1220,
        680
      ],
      "id": "afcdf42e-d926-423b-9225-3710938d9f43",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/sapaiconsultant_sourcefiles/points/scroll",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_name\",\n        \"match\": {\n          \"value\": \"{{ $json.Name }}\"\n        }\n      }\n    ]\n  },\n  \"limit\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        280
      ],
      "id": "7f24fe4e-46c5-4b80-8823-f861438371ef",
      "name": "Check if File Already Exists in Qdrant"
    },
    {
      "parameters": {
        "url": "https://eerlyvectorstore.blob.core.windows.net/sapaiconsultant-source-files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "restype",
              "value": "container"
            },
            {
              "name": "comp",
              "value": "list"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        220
      ],
      "id": "f6c57a24-7a4a-487a-95cf-4c60c409cb23",
      "name": "Get ALL Files from Blob Storage"
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items').item.json.Url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "7081db20-acbc-4f67-9681-2e729538a59a",
      "name": "Get File by URL"
    },
    {
      "parameters": {
        "path": "08bf59a8-4786-40d1-b981-4955e02235b3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2000,
        420
      ],
      "id": "a7bcb5e9-e3b3-4b92-b88a-8200096fef52",
      "name": "Webhook",
      "webhookId": "08bf59a8-4786-40d1-b981-4955e02235b3",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f9500031-2ae0-4126-a990-e8dc21ca0a70",
      "name": "Wait1",
      "webhookId": "6ad53e82-3d7d-4879-95bc-0632f313e9de"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -740,
        280
      ],
      "id": "a17de41e-6d32-43da-ad79-bfdcb6bee602",
      "name": "Wait",
      "webhookId": "e8ff505b-2a9e-4e7d-9b67-821c0d71223f"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        40
      ],
      "id": "ba7b64ff-a351-4177-913c-503eaa722b5c",
      "name": "Schedule Trigger",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-20T10:35:34.750Z",
  "versionId": "4ca6e751-73af-4e27-8477-bf93d0278587"
}